::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   background-color: white;
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
   font-size: 20px;
   scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px; 
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.separator {
    border-top: 2px solid #7b458f;
}

.brand-logo {
    width: 128px;
    height: auto;
}


.brand-wordmark {
    width: 304px;
    height: auto;
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-end;
}
.nav-pills a {
    display: inline-block;
    padding-top: 10px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 14px;
    border-radius: 32px;
    border: 2px solid #7b458f;
    font-weight: 600;
    color: #7b458f;
    text-decoration: none;
}

.nav-pills a:hover {
    background: #420e53;
    color: #fff;
    border: 2px solid #7b458f;
}
.nav-pills a:active {
    
}